env {
  SATE_HOME="/users/cn/cmagis/bin/satesrc-v2.2.7-2013Feb15/"
  MAFFT_BINARIES="/users/cn/cmagis/bin/mafft-7.130/libexec/mafft/"
  PYTHONPATH="/users/cn/cmagis/bin/python"
  PATH="/users/cn/cmagis/bin/mafft-7.130/bin:$PATH:$DIR_4_TCOFFEE/plugins/linux"
}

workDir = '/users/cn/projects/PFAM/scratch_pfam_31.0'
params.outdir = '/users/cn/projects/PFAM/PFAM_31.0_benchfam'
params.blastDb = '/db/ncbi/201604/blast/db/pdbaa.fa'
params.db_pdb = '/users/cn/projects/PFAM/PFAM_31.0/' 

params.min_pdb = 10
params.id_max = 95
params.id_min = 95
params.cov_min = 95
params.window=5
params.min_length=0.75
params.max_length=1.50
params.gaps_max=0.05
params.id_filter=0.90

process.executor = 'crg'
process.queue = 'cn-el7,short-sl7'
process.time = { 1.h * task.attempt }
process.memory = { 4.GB * task.attempt }
process.errorStrategy = { task.exitStatus instanceof Number && task.exitStatus >= 127 && task.attempt<3 ? 'retry' : 'ignore' }
process.maxRetries = 2 
process.maxErrors = -1 
process.scratch = true

process.$1_filter_PDB.queue = 'cn-el7,short-sl7'
process.$1_filter_PDB.time = { 6.h * task.attempt }
process.$1_filter_PDB.memory = { 16.GB * task.attempt } 
process.$1_filter_PDB.cpus = 8

process.$3_align_libraries.queue = 'cn-el7,long-sl7'
process.$3_align_libraries.time = { 2.d * task.attempt } 
process.$3_align_libraries.memory = { 16.GB * task.attempt } 
process.$3_align_libraries.cpus = 4

executor.queueSize = 200

trace { 
  enabled=true
  file = 'trace_pfam_31.0_2017'
}

timeline.enabled = true

docker {
  enabled=true
}

