env {
  SATE_HOME="$PWD/satesrc-v2.2.7-2013Feb15/"
  MAFFT_BINARIES="$PWD/mafft-7.130/libexec/mafft/"
  PYTHONPATH="$PWD/python"
  PATH="$PWD/mafft-7.130/bin:$PATH:$DIR_4_TCOFFEE/plugins/linux"
}

workDir = 'scratch_pfam28_2016-04'

params.methods = 'mafft,clustalo,pasta,upp,mega'
params.min_pdb = 2 
params.blastDb = '/db/ncbi/201509/blast/db/pdbaa.fa'
params.db_pdb = '/users/cn/projects/share/pfam/PFAM_28.0/PDB_UNALIGNED/1_FILTER/2016-03' 
params.db_full =  '/users/cn/projects/share/pfam/PFAM_28.0/SEQUENCES_UNALIGNED/2016-03'
params.pfam_aln = '/users/cn/projects/share/pfam/PFAM_28.0/SEQUENCES_ALIGNED/2016-03*'
params.outdir = 'results_pfam28_2016-04'  

process.executor = 'crg'
process.queue = 'cn-el7,short-sl65,long-sl65'
process.time = { 1.h * task.attempt }
process.memory = { 4.GB * task.attempt }
process.errorStrategy = { task.exitStatus == 140 && task.attempt<3 ? 'retry' : 'ignore' }
process.maxRetries = 2 
process.maxErrors = -1 
process.scratch = true

process.$3_filter.cpus = 8
process.$3_filter.memory = { 16.GB * task.attempt } 
process.$3_filter.time = { 1.d * task.attempt }
process.$3_filter.queue = 'cn-el7,long-sl65'

process.$5_Lib_and_Aln.queue = 'cn-el7,long-sl65'
process.$5_Lib_and_Aln.time = { 1.d * task.attempt } 
process.$5_Lib_and_Aln.memory = { 16.GB * task.attempt } 
process.$5_Lib_and_Aln.cpus = 4

process.$6_Large_scale_MSAs.queue = 'cn-el7'
process.$6_Large_scale_MSAs.container = 'cbcrg/benchfam_large_scale'
process.$6_Large_scale_MSAs.time = { 6.h * 2 * task.attempt } 
process.$6_Large_scale_MSAs.memory = { task.attempt==1 ? 4.GB : ( task.attempt==2 ? 40.GB : 100.GB ) } 
process.$6_Large_scale_MSAs.cpus = 4 

executor.queueSize = 200

trace { 
  enabled=true
  file = 'trace_pfam28_2016-04'
}

timeline.enabled = true

docker {
  enabled=true
}

